* {
    margin: 0;
    padding: 0;
    text-decoration: none;
	list-style: none;
	outline-style: none;
}
.w{
	width: 1031px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix::after {
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}
.clearfix {
	zoom: 1;
}