.one{
    height: 282px;
    width: 100%;
    background-color: #f7f6f7;
    overflow: hidden;
}
.one_box{
    width: 178px;
    margin: 0 auto;
    margin-top: 94px;
}
.one_box span{
    font-weight: 700;
    font-size: 43px;
    font-family: '黑体';
    color: #48486f;
}
.one_box2{
    width: 100%;
    text-align: center;
    margin-top: 33px;
}
.one_box2 p {
    font-size: 15px;
    color: #48486f;
}
.one_box2 p:nth-child(2){
    margin-top: 3px;
}
.two_box ul > li{
    float: left;
}

.two{
    width: 1904px;
    overflow: hidden;
    position: relative;
}
.two_box ul{
    width: 13323px;
    position: absolute;
    top: 0;
}
.two_boxleft input{
    display: block;
    height: 770px;
    width: 70px;
    position: absolute;
    right: 0;
    top: 0;
    border: 0px;
    cursor: pointer;
    opacity: 0; 
   
}
.two_boxright input{
    display: block;
    height: 770px;
    width: 70px;
    position: relative;
    right: 0;
    top: 0;
    border: 0px;
    cursor: pointer;
    opacity: 0;
}
.two_boxleft input:hover{
    opacity: 0.5;
}
.two_boxright input:hover{
    opacity: 0.5;
}
.two_dian{
   margin-left: 900px;
}
.two_dian a{
    width: 10px;
    height: 10px;
    background-color: #484848;
    float: left;
    border-radius: 50%;
    margin-left: 8px;
}
.two_dian a.trr {
    width: 15px;
    height: 15px;
    background-color: #484848;
    float: left;
    border-radius: 50%;
    margin-left: 8px;
}
